@import "./styles/colors.scss";

body {
  background-color: $app-background;
}

$radius: 5px;

#game-board {
  position: relative;
  background: #bbada0;
  width: 490px;
  height: 490px;
  border: $radius solid #bbada0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
